POSTGRES_PASSWORD=replace_with_a_unique_postgres_password
JWT_SECRET=replace_with_a_random_secret_of_at_least_32_characters
REDIS_PASSWORD=replace_with_a_unique_redis_password
SEQ_API_KEY=your_seq_api_key_here
SEQ_ADMIN_PASSWORD_HASH=replace_with_a_seq_password_hash
RABBITMQ_USER=delivery_app
RABBITMQ_PASSWORD=replace_with_a_unique_rabbitmq_password
ROUTE_OPTIMIZER_API_KEY=replace_with_a_random_route_optimizer_api_key
AI_SERVICE_API_KEY=replace_with_the_same_route_optimizer_api_key_for_legacy_clients
GRAFANA_ADMIN_PASSWORD=replace_with_a_unique_grafana_password
VAULT_DEV_ROOT_TOKEN=replace_with_a_random_local_vault_root_token
SEED_ADMIN_PASSWORD=replace_with_a_unique_bootstrap_password_12_chars_minimum
